{% extends 'base.html.twig' %}
{% from "_includes/macro.html.twig" import alert %}

{% block title %}{{ 'form.register'|trans }}{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <div class="form-medium">
            {% for flash_error in app.flashes('verify_email_error') %}
                {{ alert('danger', flash_error) }}
            {% endfor %}

            <h1>{{ 'form.register'|trans }}</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(registrationForm.firstname) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.lastname) }}
                    </div>
                </div>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">{{ 'action.register'|trans }}</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
{% endblock %}
