<div class="avatar{{ (with_actions | default(false)) ? ' avatar-actions' : '' }}">
    {% if href is defined %}
        <a href="{{ href }}" class="stretched-link"></a>
    {% endif %}
    
    <div class="row g-2 align-items-center flex-nowrap">
        <div class="col-auto">
            {{ include('person/_avatar_thumbnail.html.twig', { person: person }) }}
        </div>

        <div class="col">
            <div class="fw-bold text-nowrap">
                {{ person.fullName }}
            </div>
            {% if person.birth %}
                <div class="text-secondary small">
                    {{ 'calendar'|trans({ date: person.birth }) }}
                </div>
            {% endif %}
        </div>

        {% if with_actions is defined and with_actions %}
            <div class="col-auto">
                <div class="dropdown">
                    <button 
                        class="btn btn-light rounded-pill dropdown-toggle no-caret" 
                        type="button" 
                        id="dropdownMenuButton1" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_person_show', { id: person.id }) }}">
                                <i class="fa-solid fa-fw fa-eye"></i>
                                {{ 'action.show'|trans }}
                            </a>
                        </li>
                        <li>
                            {{ include(
                                'union/_delete_' ~ type|default('partner') ~ '_dropdown.html.twig', 
                                { partner: person, from: from|default(person), union: union }
                            ) }}
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>