{% set form_id = 'delete_button_' ~ person.id %}

<form 
    method="post" 
    action="{{ path('app_person_delete', { id: person.id }) }}" 
    onsubmit="return confirm('{{ 'alert.confirm_delete_person'|trans({ person_name: person.fullName }) }}');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button type="submit" class="d-none" id="{{ form_id }}"></button>
    <a href="#" onclick="document.querySelector('#{{ form_id }}').click();" class="dropdown-item link-danger">
        <i class="fa-solid fa-trash"></i>
        {{ 'action.delete'|trans }}
    </a>
</form>
