{{ form_start(form) }}
    {{ form_row(form.portrait) }}

    <div class="row g-2">
        <div class="col-6 col-md-4">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-6 col-md-4">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col-6 col-md-4">
            {{ form_row(form.birthName) }}
        </div>
        <div class="col-6 col-md-6">
            {{ form_row(form.otherNames) }}
        </div>
    </div>

    {{ form_row(form.gender) }}
    {{ include('_includes/form/markdown.html.twig', { field: form.bio })}}

    <div class="row g-2">
        <div class="col-md-6 order-1">
            {{ form_row(form.birth) }}
        </div>
        <div class="col order-2 order-md-3">
            <div class="mb-3">
                {{ form_row(form.birthDayUnsure) }}
                {{ form_row(form.birthMonthUnsure) }}
                {{ form_row(form.birthYearUnsure) }}
            </div>
        </div>
        <div class="col-md-6 order-3 order-md-2">
            {{ form_row(form.birthPlace) }}
        </div>
    </div>


    {{ form_row(form.dead, { attr: {
        'data-bs-toggle': 'collapse',
        'data-bs-target': '#death-form-collapse',
    } }) }}
    
    <div class="collapse{{ form.dead.vars.data ? ' show':'' }}" id="death-form-collapse">
        <div class="row g-2">
            <div class="col-md-6 order-1">
                {{ form_row(form.death) }}
            </div>
            <div class="col order-2 order-md-3">
                <div class="mb-3">
                    {{ form_row(form.deathDayUnsure) }}
                    {{ form_row(form.deathMonthUnsure) }}
                    {{ form_row(form.deathYearUnsure) }}
                </div>
            </div>
            <div class="col-md-6 order-3 order-md-2">
                {{ form_row(form.deathPlace) }}
            </div>
        </div>

    </div>

    <div class="row g-1 justify-content-end">
        <div class="col-auto">
            <a href="{{ path('app_tree_show', { id: tree.id }) }}" class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
        </div>
    </div>
{{ form_end(form) }}
