{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        {% if tree_name is defined %}
            <li class="breadcrumb-item"><a href="{{ path('tree_details', { 'treeId': tree_id }) }}">{{ tree_name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ person.firstname }} {{ person.lastname }}</li>
    </ol>
</nav>

    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Birth</th>
                <td>{{ person.birth ? person.birth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Death</th>
                <td>{{ person.death ? person.death|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BirthDaySure</th>
                <td>{{ person.birthDaySure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BirthMonthSure</th>
                <td>{{ person.birthMonthSure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BirthYearSure</th>
                <td>{{ person.birthYearSure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DeathDaySure</th>
                <td>{{ person.deathDaySure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DeathMonthSure</th>
                <td>{{ person.deathMonthSure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DeathYearSure</th>
                <td>{{ person.deathYearSure ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Portrait</th>
                <td>{{ person.portrait }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ person.bio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_person_index') }}">back to list</a>

    <a href="{{ path('app_person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
