{% extends 'base.html.twig' %}

{% block title %}Arbre de {{ person.firstname }} {{ person.lastname | upper }}{% endblock %}

{% block body %}
{{ include('_includes/main/breadcrumb.html.twig', { items: [
    { label: person.tree.name, link: path('app_tree_show', { id: person.tree.id }) },
    { label: 'Arbre de ' ~ person.fullName, link: path('app_tree_show', { id: person.tree.id }) }
] }) }}

{{ include('_includes/main/flashes.html.twig') }}

<section id="tree" class="py-5">
    <div class="mw-100 d-flex overflow-x-auto">
        {{ include('tree/tree.html.twig', { person: person }) }}
    </div>
</section>
{% endblock %}