{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tree_of'|trans({ name: person.fullName }) }}{% endblock %}

{% block body %}
{{ include('_includes/main/breadcrumb.html.twig', { items: [
    { label: person.tree.name, link: path('app_tree_show', { id: person.tree.id }) },
    { label: 'title.tree_of'|trans({ name: person.fullName }), link: path('app_tree_show', { id: person.tree.id }) }
] }) }}

{{ include('_includes/main/flashes.html.twig') }}

<section id="tree" class="row gx-0">
    <div class="col-md-auto bg-body" id="tree-option-panel">
        <div class="px-3 py-4">
            {{ include('tree/_tree_form.html.twig', { tree: person.tree }) }}
        </div>
    </div>
    <div class="col-md d-flex justify-content-center align-items-center mh-100" id="tree-view-panel">
        <div class="text-center" style="width: inherit; height: inherit; max-height: inherit;">
            <div class="m-3 d-inline-block">
                {{ include('tree/tree.html.twig', { person: person, depth: 1, max_depth: form.depth.vars.data|default(4) }) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}