{{ form_start(form) }}
    <div class="row g-3 align-items-end">
        <div class="col-sm-auto">
            {{ form_row(form.type) }}
        </div>
    
        <div class="col">
            {{ form_row(form.url) }}
        </div>
    </div>
    
    {{ form_row(form.comment) }}
    {{ form_row(form.directProof) }}

    <div class="text-end">
        <button class="btn btn-primary mb-3" type="submit">
            <i class="fa-solid fa-plus"></i>
            {{ 'action.add'|trans }}
        </button>
    </div>
{{ form_end(form) }}
