<div class="row">
    <div class="col">
        <div class="row gx-2 align-items-center">
            <div class="col-auto">
                {{ include('person/_avatar_thumbnail.html.twig', { person: member, size: 'sm' }) }}
            </div>
            <div class="col-auto" title="{{ member.birth ? 'calendar'|trans({ date: member.birth }) : '' }}">
                <a href="{{ path('app_person_show', { id: member.id }) }}" class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover">
                    {{ member.fullName }}
                </a>
            </div>
            
            {% if member.isDead %}
                <div class="col-auto" title="{{ member.death ? 'calendar'|trans({ date: member.death }) : '' }}">
                    <span class="text-secondary">
                        <i class="fa-solid fa-cross"></i>
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="col-auto">
        <a 
            href="#" 
            type="button" 
            class="btn btn-sm btn-light rounded-pill d-flex justify-content-center align-items-center" 
            data-bs-toggle="dropdown" 
            aria-expanded="false" 
            style="
                height: 1.5rem;
                line-height: 0.875rem;
                width: 1.5rem;
                color: var(--bs-btn-color);
            "
        >
            <i class="fa-solid fa-ellipsis"></i>
        </a>
        <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">{{ 'label.actions'|trans }}</h6></li>
            {% if is_granted('view', member) %}
                <li>
                    <a 
                        href="{{ path('app_person_tree', { id: member.id }) }}" 
                        class="dropdown-item"
                    >
                        <i class="fa-solid fa-tree"></i>
                        Voir l'arbre
                    </a>
                </li>
            {% endif %}

            {% if is_granted('edit', member) %}
                <li>
                    <a 
                        href="{{ path('app_person_edit', { id: member.id }) }}" 
                        class="dropdown-item"
                    >
                        <i class="fa-solid fa-edit"></i>
                        {{ 'action.edit'|trans }}
                    </a>
                </li>
            {% endif %}

            {% if is_granted('delete', member) %}
                <li>
                    {{ include('person/_delete_form.html.twig', { person: member }) }}
                </li>
            {% endif %}
        </ul>
    </div>
</div>