<div class="row">
    <div class="col">
        <div class="row gx-2 align-items-center">
            <div class="col-auto">
                {{ include('person/_avatar_thumbnail.html.twig', { person: member, size: 'sm' }) }}
            </div>
            <div class="col-auto" title="{{ member.birth | date('d/m/Y') }}">
                {{ member.fullName }}
            </div>
            {% if member.isDead %}
                <div class="col-auto" title="{{ member.death | date('d/m/Y') }}">
                    <span class="text-secondary">
                        <i class="fa-solid fa-cross"></i>
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="col-auto">
        <a href="#" type="button" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false" style="height: 1.5rem; width: 1.5rem;">
            <i class="fa-solid fa-ellipsis"></i>
        </a>
        <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Actions</h6></li>
            {% if is_granted('view', member) %}
                <li>
                    <a 
                        href="{{ path('app_person_tree', { id: member.id }) }}" 
                        class="dropdown-item"
                    >
                        <i class="fa-solid fa-tree"></i>
                        Voir l'arbre
                    </a>
                </li>
            {% endif %}
            {% if is_granted('edit', member) %}
                <li>
                    <a 
                        href="{{ path('app_person_edit', { id: member.id }) }}" 
                        class="dropdown-item"
                    >
                        <i class="fa-solid fa-edit"></i>
                        Modifier
                    </a>
                </li>
            {% endif %}
            {% if is_granted('delete', member) %}
                <li>
                    {{ include('person/_delete_form.html.twig', { person: member }) }}
                </li>
            {% endif %}
        </ul>
    </div>
</div>