{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.my_projects'|trans }}{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <h1>{{ 'nav.my_projects'|trans }}</h1>

        <div class="row g-3">
            {% for tree in trees %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="bg-body rounded p-3 shadow-sm h-100">
                        <div class="row gx-1">
                            <div class="col">
                                <h2 class="h5">{{ tree.name }}</h2>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown">
                                    <button 
                                        type="button" 
                                        class="btn btn-light rounded-pill dropdown-toggle no-caret p-0"
                                        style="width: 2em; height: 2em;"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><h6 class="dropdown-header">{{ 'label.actions'|trans }}</h6></li>
                                        {% if is_granted('view', tree) %}
                                            <li>
                                                <a href="{{ path('app_tree_show', {'id': tree.id}) }}" class="dropdown-item">
                                                    <i class="fa-solid fa-fw fa-eye"></i>
                                                    {{ 'action.show'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('edit', tree) %}
                                            <li>
                                                <a href="{{ path('app_tree_edit', {'id': tree.id}) }}" class="dropdown-item">
                                                    <i class="fa-solid fa-fw fa-pen-to-square"></i>
                                                    {{ 'action.rename'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('delete', tree) %}
                                            <li>
                                                {% include "tree/_delete_form_dropdown.html.twig" %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row gy-1 gx-3 text-secondary">
                            <div class="col-auto">{{ 'alert.tree_members_count'|trans({ members: tree.members|length }) }}</div>
                            <div class="col-auto">{{ tree.createdAt ? 'calendar'|trans({'date': tree.createdAt}) : '' }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="bg-body rounded p-3 shadow-sm h-100 d-flex justify-content-center align-items-center display-5 position-relative">
                    <a href="{{ path('app_tree_new') }}" class="stretched-link">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>
</section>
{% endblock %}
