{% extends 'base.html.twig' %}
{% from "_includes/macro.html.twig" import alert %}

{% block title %}{{ tree.name }}{% endblock %}

{% block body %}
{{ include('_includes/main/flashes.html.twig') }}

<section class="my-4">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4 col-lg-3">
                <span class="text-secondary">
                    {{ 'alert.tree_members_found_count'|trans({ members: members_count}) }}
                </span>

                <div class="list-group mt-3">
                    <a href="{{ path('app_tree_members_add', { id: tree.id }) }}" class="list-group-item link-primary">
                        <i class="fa-solid fa-fw fa-plus"></i>
                        {{ 'action.new_member'|trans }}
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="d-flex justify-content-end">
                    {% include "tree/_search_form.html.twig" %}
                </div>
                {% if grouped_members|length %}
                    <div class="bg-body rounded border shadow-sm">
                        {% for letter, members in grouped_members %}
                            <section>
                                <div class="px-4 py-1 fw-bold border-bottom mb-2">{{ letter }}</div>
                                <div class="mb-3">
                                    {% for member in members %}
                                        <div class="tree-member-item px-4 py-1">
                                            {{ include("tree/_member_list_item.html.twig", { member: member }) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </section>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-secondary px-4 py-1">
                        {{ alert('secondary', 'alert.tree_has_no_member'|trans) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
