{{ form_start(form) }}
    {% if form.member1 is defined and form.member2 is defined %}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ component('PersonSelector', {
                    formView: form.member1,
                    tree: person.tree,
                    placeholder: 'form.field.first_member',
                    id: 'member1'
                }) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ component('PersonSelector', {
                    formView: form.member2,
                    tree: person.tree,
                    placeholder: 'form.field.second_member',
                    id: 'member2'
                }) }}
            </div>
        </div>
    {% endif %}

    {{ form_row(form.married) }}

    <div class="row g-2">
        <div class="col-md-6 order-1">
            {{ form_row(form.startsAt) }}

        </div>
        <div class="col-md-6 order-3 order-md)2">
            {{ form_row(form.place) }}
        </div>
        <div class="col-12 order-2 order-md-3">
            <div class="mb-3">
                {{ form_row(form.dayUnsure) }}
                {{ form_row(form.monthUnsure) }}
                {{ form_row(form.yearUnsure) }}
            </div>
        </div>
    </div>

    {{ include('_includes/form/markdown.html.twig', { field: form.description }) }}

    <div class="row g-2">        
        <div class="col-md-6">
            {{ form_row(form.endsAt) }}
        </div>
        <div class="col-12">
            <div class="mb-3">
                {{ form_row(form.endDayUnsure) }}
                {{ form_row(form.endMonthUnsure) }}
                {{ form_row(form.endYearUnsure) }}
            </div>
        </div>
    </div>

    <div class="text-end">
        <a class="btn btn-secondary" href="{{ path('app_person_unions', { id: person.id }) }}">{{ 'action.cancel'|trans }}</a>
        <button class="btn btn-primary">{{ button_label|default('action.create'|trans) }}</button>
    </div>
{{ form_end(form) }}
