{% extends 'person/base.html.twig' %}
{% from "_includes/macro.html.twig" import alert %}

{% block title %}{{ 'title.create_union_for'|trans({ name: person.fullName }) }}{% endblock %}

{% block breadcrumb %}
    {{ include('_includes/main/breadcrumb.html.twig', { items: [
        { label: person.tree.name, link: path('app_tree_show', { id: person.tree.id }) },
        { label: person.fullName, link: path('app_person_unions', { id: person.id }) },
        { label: 'label.unions'|trans, link: null },
    ] }) }}
{% endblock %}

{% block content %}
    {{ include('_includes/main/flashes.html.twig') }}

    <h2>{{ 'title.create_union_for'|trans({ name: person.fullName }) }}</h2>

    {{ alert('primary', 'alert.add_union_members_later'|trans) }}

    {{ include('union/_form.html.twig') }}
{% endblock %}
