{% extends 'base.html.twig' %}

{% block title %}Union{% endblock %}

{% block body %}
    <h1>Union</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ union.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ union.date ? union.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Married</th>
                <td>{{ union.married ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>WeddingDate</th>
                <td>{{ union.weddingDate ? union.weddingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>WeddingPlace</th>
                <td>{{ union.weddingPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_union_index') }}">back to list</a>

    <a href="{{ path('app_union_edit', {'id': union.id}) }}">edit</a>

    {{ include('union/_delete_form.html.twig') }}
{% endblock %}
