{% extends 'base.html.twig' %}

{% block title %}Union{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if tree_name is defined %}
            <li class="breadcrumb-item"><a href="{{ path('tree_details', { 'treeId': tree_id }) }}">{{ tree_name }}</a></li>
        {% endif %}
        {% if person_full_name is defined %}
            <li class="breadcrumb-item"><a href="{{ path('person_details', { 'personId': person_id }) }}">{{ person_full_name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">Union Details</li>
    </ol>
</nav>

    <h1>Union</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ union.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ union.date ? union.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Married</th>
                <td>{{ union.married ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>WeddingDate</th>
                <td>{{ union.weddingDate ? union.weddingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>WeddingPlace</th>
                <td>{{ union.weddingPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_union_index') }}">back to list</a>

    <a href="{{ path('app_union_edit', {'id': union.id}) }}">edit</a>

    {{ include('union/_delete_form.html.twig') }}
{% endblock %}
