<div{{ attributes.defaults(stimulus_controller('person_selector')) }}>
    <select
        class="d-none"
        id="{{ this.field.vars.id }}"
        name="{{ this.field.vars.full_name }}"
        data-model="on(change)|{{ this.modelName }}"
        {{ stimulus_target('person_selector', 'select') }}
    >
        <option value=""></option>
        {% for person in this.getPeople %}
            <option value="{{ person.id }}"{% if this.selectedPersonId == person.id %} selected{% endif %}>{{ person.fullName }}</option>
        {% endfor %}
    </select>

    <div class="position-relative">
        <label class="form-label" for="{{ this.inputId }}">{{ this.placeholder|trans }}</label>
        <input
            type="text"
            class="form-control"
            id="{{ this.inputId }}"
            {{ stimulus_target('person_selector', 'searchInput') }}
            {{ stimulus_action('person_selector', 'filter', 'input') }}
        >

        <div
            class="list-group position-absolute shadow d-none overflow-auto"
            style="
                top: 4.8rem;
                left: 0;
                right: 0;
                max-height: 11.5rem
            "
            {{ stimulus_target('person_selector', 'dropdown') }}
            {{ stimulus_action('person_selector', 'preventBlur', 'mousedown') }}
        >
            {% for person in this.getPeople %}
                <a 
                    href="#" class="list-group-item" 
                    {{ stimulus_action('person_selector', 'select', 'click', { id: person.id }) }}
                >
                    {{ person.fullName }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
